<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GB_NewCadPlus_IV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GB_NewCadPlus_IV.Properties.Settings>
            <setting name="ServerIP" serializeAs="String">
                <value>	localhost</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>cad_sw_library</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="StoragePath" serializeAs="String">
                <value>D:\GB_Tools\Cad_Sw_Library</value>
            </setting>
            <setting name="UseDPath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SyncInterval" serializeAs="String">
                <value>30</value>
            </setting>
        </GB_NewCadPlus_IV.Properties.Settings>
    </userSettings>
</configuration>